header {
    width: 77%;
    height: 200px;
    background-color: #ffe9cd;
    margin: 1%;
    float: left;
}

nav {
    width: 77%;
    height: 100px;
    background-color: #bfe9ff;
    margin: 1%;
    float: left;
}

section {
    width: 50%;
    height: 180px;
    background-color: #f8d7d0;
    margin: 1%;
    float: right;
}

section {
    width: 50%;
    height: 180px;
    background-color: #f8d7d0;
    margin: 1%;
    float: right;
}

article {
    width: 25%;
    height: 400px;
    background-color: #f19ca2;
    margin: 1%;
    float: left;
}

aside {
    width: 19%;
    height: 780px;
    background-color: #b7d7d9;
    margin: 1%;
    float: right;
}

footer {
    width: 98%;
    height: 200px;
    background-color: #ffe9cd;
    margin: 1%;
    float: left;
}